{%extends 'base.html'%} {%block content%}

  <body>
    <div class="container">
      <h1>Search</h1>
      <p>Search for a name</p>
      
    <form id="search-form">
        <input type="text" id="name" name="name" placeholder="Enter name">
        
        <button type="submit">Search</button>
      </form>
    <div id="search-results" class="jumbotron">
        
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#search-form').submit(function(e) {
      e.preventDefault();
      var name = $('#name').val();
      $.ajax({
        type: 'POST',
        url: '/buttons',
        data: {name: name},
        success: function(data) {
          $('#search-results').html(data);
        }
      });
    });
  });
</script>



{%endblock%}