{%extends 'base.html'%} {%block content%}

  
      <h1>Here is a table for all of the active users</h1>
      <p>You can either reach this database by clicking on the Active users tab or you can go to login page and with successful login attempt you will be redirected here</p>

      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Birthday</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
        {% for user in all_users %}
        <!-- Create a list with user name surname and birth year -->
        <tr>
        <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.surname}}</td>
          <td>{{user.birthday}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        </tr>

      
        {% endfor %}
      </table>
     
   

   
{%endblock%}